.floatingInput {
    position: relative;
    margin-top: 12px;
  }
  
  .floatingInput input {
    width: 100%;
    padding-block: 8px;
    border-radius: 4px;
    outline: none;
    background: #f9f9f9;
    transition: border-color 0.2s, box-shadow 0.2s;
  }
  
  .floatingInput label {
    position: absolute;
    top: 16px;
    inset-inline-start: 16px;
    background: #f9f9f9;
    pointer-events: none;
    transition: 0.2s ease all;
  }
    
  .floatingInput input:focus ~ label,
  .floatingInput input:not(:placeholder-shown) ~ label {
    top: -8px;
    padding: 0 4px;
    inset-inline-start: 16px;
    font-size: 12px;
  }