.galleryL {
    border-start-end-radius: 8rem;
    border-end-end-radius: 8rem;
  }
  .galleryR {
    border-start-start-radius: 8rem;
    border-end-start-radius: 8rem;
  }

  .banner{
    background-image: url('../../Assets/images/Group\ 1.svg');
    background-repeat: no-repeat;
    background-size:contain;
    object-fit:fill;
  }
